---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Button from "../../components/Button.astro";
import Image from "astro/components/Image.astro";
import WitLogo from "../../assets/images/logo-wit.svg";
import CultLogo from "../../assets/images/logo-cult.svg";
import MncLogo from "../../assets/images/logo-mnc.svg";
---

<Layout
  title="ABOUT | KOHEI HARADA"
  keywords="KOHEIHARADA, 原田康平, WIT, 新規ビジネス, プロジェクトデザイン, クリエイティブディレクター"
  descr="新規ビジネスのアイデア創出からプロジェクトデザイン、運営までを見守るクリエイティブディレクターです。ブランドのDNAを形作るMVPを開発し、顧客にブランドの本質を伝えることが私の使命です。"
>
  <Header />
  <div class="container pt-[225px] pb-[67px]">
    <h1 class="main-title">About</h1>
    <div
      class="flex flex-col max-w-[674px] font-text-content font-normal gap-6 mt-[86px] leading-[24px]"
    >
      <p class="">
        新しいビジネスのアイデアを生み出し、プロジェクトをデザインし、運営までを見守るクリエイティブディレクターです。プロモーションムービーや撮影現場では、ディレクターやカメラマンとしてもクリエイティブなビジョンを形にしています。ブランド開発において、斬新な解決策を提供するスペシャリストとして、多くの成功を収めてきました。
        ブランドのDNAを形作るMVP（Mission, Value,
        Purpose）を開発し、顧客にブランドの本質を伝えることが私の使命です。また、DAO（分散型自律組織）の未来を見据え、ユーザーの行動をデザインすることにも力を入れています。
      </p>
    </div>
    <Button content="Contact" href="/jp/contact/" className="mr-auto mt-7" />
    <h2 class="text-[40px] mt-[120px] font-title leading-[50px]">KOHEI HARADA</h2>
    <p class="leading-[24px] font-text-content mt-6">
      Creative Factory <br />
      WIT inc. (Japan) CEO / WIT B.V. <br />
      (Netherlands) CEO
    </p>
    <Button
      content="Instagram"
      href="https://www.instagram.com/phryne_sense/"
      className="mr-auto mt-7"
    />
    <div class="flex flex-col gap-y-[20px] mt-[75px]">
      <b class="font-title text-[24px] max-md:text-lg">Japan Branch</b>
      <a href="https://witdesignplaats.com/" target="_blank">
        <Image src={WitLogo} width={120} height={38} alt="WIT" />
      </a>
    </div>
    <div class="flex flex-col gap-y-[20px] mt-[80px] max-md:mt-[57px]">
      <b class="font-title text-[24px] max-md:text-lg">Project</b>
      <div class="flex items-center gap-x-[40px]">
        <a href="https://inspirationcultmag.com/" target="_blank">
          <Image
            src={CultLogo}
            width={200}
            height={48}
            alt="Inspiration Cult"
          />
        </a>
        <a href="https://mnc-dao.com/" target="_blank">
          <Image src={MncLogo} width={162} height={20} alt="MNC" />
        </a>
      </div>
    </div>
  </div>
  <section class="main-sections">
    <article
      class="main-sections__item main-sections__item--main-sub z-10 relative"
    >
      <div class="absolute w-full h-full object-cover top-0 left-0 z-10">
        <video
          playsinline
          autoplay
          loop
          muted
          class="w-full h-full object-cover office-video"
        >
          <source
            src="/video/office-video-mob.mp4"
            media="(max-width:767.9px)"
          />
          <source src="/video/office-video.mp4" />
        </video>
      </div>
      <div class="container h-full flex-grow z-20">
        <div
          class="flex flex-col h-full justify-center flex-grow max-md:items-center"
        >
          <h2 class="font-title uppercase text-[80px] leading-[80px] mb-6">
            Office
          </h2>
          <Button content="View" className="w-max" href="/jp/office/" />
        </div>
      </div>
    </article>
    <article
      class="main-sections__item main-sections__item--footer overflow-hidden"
    >
      <div class="container h-full flex-grow">
        <div
          class="flex flex-col h-full justify-center flex-grow max-md:items-center"
        >
          <h2
            class="font-title uppercase text-[80px] leading-[80px] mb-6 text-white"
          >
            Future
          </h2>
          <Button content="View" href="/jp/future" className="w-max" invert />
          <div class="box" id="box1"></div>
          <div class="box" id="box2"></div>
        </div>
      </div>
    </article>
    <article class="main-sections__item main-sections__item--ar">
      <div class="media-content">
        <video src="" playsinline autoplay class="media-content__video"></video>
        <div id="ar-container" class="ar-container"></div>
        <a href="#" class="media-content__filters-btn">Filters</a>
      </div>
      <div class="filter-sliders">
        <div class="filter-sliders__item">
          <span class="filter-sliders__item-name">Blur:</span>
          <input
            type="range"
            name="blur"
            id=""
            class="filter-sliders__item-input"
            min="0"
            max="30"
            value="0"
          />
        </div>
        <div class="filter-sliders__item">
          <span class="filter-sliders__item-name">Contrast:</span>
          <input
            type="range"
            name="contrast"
            id=""
            class="filter-sliders__item-input"
            min="0.4"
            max="100"
            value="1"
          />
        </div>
        <div class="filter-sliders__item">
          <span class="filter-sliders__item-name">Saturate:</span>
          <input
            type="range"
            name="saturate"
            id=""
            class="filter-sliders__item-input"
            min="0"
            max="1000"
            value="100"
          />
        </div>
        <div class="filter-sliders__item">
          <span class="filter-sliders__item-name">Color:</span>
          <input
            type="range"
            name="hue"
            id=""
            class="filter-sliders__item-input"
            min="0"
            max="360"
            value="0"
          />
        </div>
      </div>
    </article>
  </section>
</Layout>
<style lang="scss">
  :root {
    --blur: 0px;
    --contrast: 100%;
    --saturate: 1;
    --hue: 0deg;
  }
  .media-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .media-content__video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: blur(var(--blur)) contrast(var(--contrast))
      saturate(var(--saturate)) hue-rotate(var(--hue));
  }
  .main-sections__item--ar {
    mix-blend-mode: difference;
    overflow: hidden;
  }
  .main-sections__item--main-sub {
    background-image: url(../images/office.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .tempcanvas {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background: red;
    display: none;
  }
  .media-content__filters-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 2000;
    background-color: #000;
    color: #fff;
    padding-inline: 20px;
    padding-block: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 0.4s clip-path ease-in-out 0.4s;
    &--hidden {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      pointer-events: none;
      transition-delay: 0s;
    }
  }
  .filter-sliders {
    position: absolute;
    z-index: 1000;
    left: 50%;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 100%;
    padding-inline: 10px;
    row-gap: 16px;
    max-width: 800px;
    // transform: translate(-50%, 100%);
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3000;
    transform: translate(-50%, 100%);
    transition: 0.4s transform ease-in-out 0s;
    &--open {
      transform: translateX(-50%);
      transition-delay: 0.4s;
    }
  }
  .filter-sliders__item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
  }
  .filter-sliders__item-name {
    font-family: sans-serif;
    color: white;
    letter-spacing: 0.03em;
  }
  input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }

  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #111;
    border-radius: 16px;
  }

  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: #111;
    border-radius: 16px;
  }

  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #111;
    border-radius: 50%;
    border: 3px solid #fff;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #fff;
  }

  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #111;
    border-radius: 50%;
    border: 3px solid #fff;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #fff;
  }

  #ar-container {
    z-index: 100;
    mix-blend-mode: difference;
  }
</style>
<script>
  import * as THREE from "three";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls.js";
  import gsap from "gsap";
  document.addEventListener("DOMContentLoaded", function (event) {
    const officeVideo = document.querySelector(".office-video");
    officeVideo.play();
  });

  const filtersButton = document.querySelector(".media-content__filters-btn");
  const filtersSliders = document.querySelector(".filter-sliders");
  const arContainer = document.querySelector(".ar-container");
  arContainer.addEventListener("click", (e) => {
    filtersButton.classList.remove("media-content__filters-btn--hidden");
    filtersSliders.classList.remove("filter-sliders--open");
  });
  filtersButton.addEventListener("click", (e) => {
    e.preventDefault();
    e.target.classList.add("media-content__filters-btn--hidden");
    filtersSliders.classList.add("filter-sliders--open");
  });

  let size = 400;
  let canvas = document.createElement("canvas");
  let ctx = canvas.getContext("2d");
  canvas.width = size;
  canvas.height = size;
  canvas.classList.add("tempcanvas");
  canvas.classList.add("hidden");
  document.body.appendChild(canvas);
  const videoElement = document.querySelector(".media-content__video");
  const isMobile = window.innerWidth < 768 ? true : false;

  const updateCSSVariable = (name, value) => {
    document.documentElement.style.setProperty(name, value);
  };

  document
    .querySelector(".filter-sliders__item-input[name='saturate']")
    .addEventListener("input", (event) => {
      updateCSSVariable("--saturate", `${event.target.value}%`);
    });

  document
    .querySelector(".filter-sliders__item-input[name='hue']")
    .addEventListener("input", (event) => {
      updateCSSVariable("--hue", `${event.target.value}deg`);
    });

  document
    .querySelector(".filter-sliders__item-input[name='contrast']")
    .addEventListener("input", (event) => {
      updateCSSVariable("--contrast", `${event.target.value}`);
    });
  document
    .querySelector(".filter-sliders__item-input[name='blur']")
    .addEventListener("input", (event) => {
      updateCSSVariable("--blur", `${event.target.value}px`);
    });

  let isCameraAvailable = true;

  navigator.mediaDevices
    .getUserMedia(
      isMobile
        ? {
            video: {
              facingMode: {
                exact: "environment",
              },
            },
          }
        : { video: true }
    )
    .then((stream) => {
      videoElement.srcObject = stream;
      videoElement.play();
    })
    .catch((error) => {
      isCameraAvailable = false;
    });

  function fillUp(array, max) {
    let length = array.length;
    for (let i = 0; i < max - length; i++) {
      array.push(array[Math.floor(Math.random() * length)]);
    }
    return array;
  }

  function shuffle(a) {
    for (let i = a.length; i; i--) {
      let j = Math.floor(Math.random() * i);
      [a[i - 1], a[j]] = [a[j], a[i - 1]];
    }
    return a;
  }
  function loadImagesSequentially(paths, whenLoaded) {
    let imgs = [];

    async function loadImage(path) {
      return new Promise((resolve, reject) => {
        let img = new Image();
        img.onload = () => resolve(img);
        img.onerror = reject;
        img.src = path;
      });
    }

    async function loadAllImages() {
      for (const path of paths) {
        const img = await loadImage(path);
        imgs.push(img);
      }
      whenLoaded(imgs);
    }

    loadAllImages();
  }
  function hslToRgb(h, s, l) {
    s /= 100;
    l /= 100;

    let c = (1 - Math.abs(2 * l - 1)) * s;
    let x = c * (1 - Math.abs(((h / 60) % 2) - 1));
    let m = l - c / 2;
    let r = 0,
      g = 0,
      b = 0;

    if (0 <= h && h < 60) {
      r = c;
      g = x;
      b = 0;
    } else if (60 <= h && h < 120) {
      r = x;
      g = c;
      b = 0;
    } else if (120 <= h && h < 180) {
      r = 0;
      g = c;
      b = x;
    } else if (180 <= h && h < 240) {
      r = 0;
      g = x;
      b = c;
    } else if (240 <= h && h < 300) {
      r = x;
      g = 0;
      b = c;
    } else if (300 <= h && h < 360) {
      r = c;
      g = 0;
      b = x;
    }

    r = Math.round((r + m) * 255);
    g = Math.round((g + m) * 255);
    b = Math.round((b + m) * 255);

    return [r / 255, g / 255, b / 255];
  }

  function getArrayFromImage(img, sizeX, sizeY) {
    let imageCoords = [];
    ctx.clearRect(0, 0, size, size);
    ctx.drawImage(img, 0, 0, sizeX, sizeY);
    let data = ctx.getImageData(0, 0, sizeX, sizeY).data;

    for (let y = 0; y < size; y++) {
      for (let x = 0; x < size; x++) {
        let alpha = data[(size * y + x) * 4 + 3];
        if (alpha > 0) {
          imageCoords.push([10 * (x - size / 2), 10 * (size / 2 - y)]);
        }
      }
    }
    return shuffle(fillUp(imageCoords, 1500));
  }

  let images = ["../KH_logo.png", "../CF_logo.png"];
  loadImagesSequentially(images, function (loadedImages) {
    let gallery = [];
    gallery.push(getArrayFromImage(loadedImages[0], 400, 400));
    gallery.push(getArrayFromImage(loadedImages[1], 400, 400));

    let camera, controls, scene, renderer;
    let geometry, pointCloud;

    function init() {
      scene = new THREE.Scene();
      if (!isCameraAvailable) scene.background = new THREE.Color(0x000);

      renderer = new THREE.WebGLRenderer({ alpha: true });
      renderer.setPixelRatio(window.devicePixelRatio);
      renderer.setSize(window.innerWidth, window.innerHeight);

      let container = document.getElementById("ar-container");
      container.appendChild(renderer.domElement);
      const isMobile = window.innerWidth < 768 ? true : false;

      camera = new THREE.PerspectiveCamera(
        90,
        window.innerWidth / window.innerHeight,
        1,
        8000
      );
      camera.position.z = isMobile ? 4800 : 5000;

      // controls = new OrbitControls(camera, renderer.domElement);
      // controls.enableZoom = false;
      // controls.enableRotate = false

      let texture = new THREE.TextureLoader().load("../particle.png");
      let material = new THREE.PointsMaterial({
        size: 10,
        vertexColors: true,
        map: texture,
        alphaTest: 0.5,
      });

      geometry = new THREE.BufferGeometry();
      const vertices = [];
      const colors = [];
      let colorHue = Math.floor(Math.random() * 360);
      const lightMultiList = [40, 50, 70, 80, 100];
      const lightMulti =
        lightMultiList[Math.floor(lightMultiList.length * Math.random())];
      const saturateMultiList = [0, 40, 50, 70, 80, 100];
      const saturateMulti =
        saturateMultiList[Math.floor(saturateMultiList.length * Math.random())];

      gallery[0].forEach((el, index) => {
        const zPos = Math.random() * 300;
        vertices.push(el[0], el[1], zPos);
        const [r, g, b] = hslToRgb(colorHue, 0, (zPos / 300) * lightMulti); // Adjust lightness based on zPos
        colors.push(r, g, b);
      });

      geometry.setAttribute(
        "position",
        new THREE.Float32BufferAttribute(vertices, 3)
      );
      geometry.setAttribute(
        "color",
        new THREE.Float32BufferAttribute(colors, 3)
      );

      pointCloud = new THREE.Points(geometry, material);
      scene.add(pointCloud);
      console.log(geometry.attributes.position);

      window.addEventListener("resize", onWindowResize, false);
    }

    function onWindowResize() {
      camera.aspect = window.innerWidth / window.innerHeight;
      camera.updateProjectionMatrix();
      renderer.setSize(window.innerWidth, window.innerHeight);
    }
    const clock = new THREE.Clock();
    let time = 0;

    function animate() {
      requestAnimationFrame(animate);
      time++;

      pointCloud.rotation.y += 0.01;

      let positions = geometry.attributes.position.array;

      for (let i = 0; i < positions.length; i += 3) {
        let dX = 0;
        let dY = 0;
        let dZ = Math.sin(time / 10 + positions[i] / 0.5) * 2;

        positions[i] += dX;
        positions[i + 1] += dY;
        positions[i + 2] += dZ;
      }
      geometry.attributes.position.needsUpdate = true;
      render();
    }

    function render() {
      renderer.render(scene, camera);
    }

    init();
    animate();

    let current = 0;
    document.body.addEventListener("click", function () {
      current++;
      current = current % gallery.length;
      geometry.attributes.position.array.forEach((value, index) => {
        if (index % 3 === 0) {
          gsap.to(geometry.attributes.position.array, {
            duration: 1,
            [index]: gallery[current][index / 3][0],
            [index + 1]: gallery[current][index / 3][1],
          });
        }
      });
      geometry.attributes.position.needsUpdate = true;
    });
  });
</script>
